{% if quiz %}
    <form action="/quizzes/{{quiz.id}}" method="post">
{% else %}
<form action="/quizzes" method="post">
{% endif %}

    <div>
    <label for="name">Name: </label>
    {% if quiz %}
        <input id="name" type="text" name="name" value="{{quiz.name}}"/>
    {% else %}
        <input id="name" type="text" name="name"/>
    {% endif %}
    </div>
    <div>
        <label for="weight">Weight: </label>
    {% if quiz %}
        <input id="weight" type="number" name="weight" value="{{quiz.weight}}"/>
    {% else %}
        <input id="weight" type="number" name="weight"/>
    {% endif %}
    </div>
    <input type="submit" value="Save Quiz"/>
</form>